.jumbotron{
	background: url("../images/mona.png") no-repeat left top;
	-webkit-background-origin: border-box;
	background-origin: border-box;
	height: 600px;
}

html{
	-webkit-font-smoothing: antialiased;
}

.white{
	color: #fff;
}

.jumbotron h1,
.jumbotron p{
	color: #fff;
}

.jumbo-text{
	margin-top: 300px;
	width: 350px;
}

.navbar-brand

.navbar-brand span,
.navbar-brand{
	font-size: 30px;
}

.main-button{
	margin-top: 320px;
}

.top-space{
	margin-top: 30px;
}

.bottom-space{
	margin-bottom: 30px;
}