{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Select few photos in which you are</h1>
            </div>
        </div>
    </div>
    {% for row in faces %}
        <div class="row top-space">
        {% for face in row %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{MEDIA_URL}}{{face.relpath}}" >
                    <div class="caption">
                        <p class="text-center"><button id="test" data-id="{{face.id}}" class="btn btn-sm btn-info select-button">Select</button></p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    <div class="row top-space bottom-space">
        <button id="sendSelected" class="btn btn-primary btn-block">I want results!</button>
    </div>
{% endblock content %}
