{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <div class="container">
                    <h1>Measure your egoism</h1>
                    <p><a href="{{url}}" class="btn btn-primary btn-lg main-button">Sign in with Instagram <img src="../static/images/insta.png" alt=""></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../static/images/step1.png" >
                <div class="caption">
                    <h3>Step one</h3>
                    <p>Sign in with your Instagram account.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../static/images/step2.png" >
                <div class="caption">
                    <h3>Step two</h3>
                    <p>Select photos in which you are.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../static/images/step3.png" >
                <div class="caption">
                    <h3>Step three</h3>
                    <p>Get result for your account.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

