{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Your results</h1>
            </div>
        </div>
    </div>
    <div class="row top-space">
        <div class="col-lg-12">

            {% if result <= 30 %}
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{result}}" aria-valuemin="0" aria-valuemax="100" style="width: {{result}}%">
                        <span class="sr-only">{{result}}% Complete (success)</span>
                    </div>
                </div>
                <h1>Your are an altruist! Good :-) {{result}}/100</h1>
                <div class="text-center">
                    <img src="../static/images/altruist.jpg" alt="">
                </div>

            {% elif result > 30 and result <= 60 %}
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{result}}" aria-valuemin="0" aria-valuemax="100" style="width: {{result}}%">
                        <span class="sr-only">{{result}}% Complete (warning)</span>
                    </div>
                </div>
                <h1>Your are typical egoist! :-| {{result}}/100</h1>
                <div class="text-center">
                    <img src="../static/images/egoist.jpg" alt="">
                </div>
            {% else %}
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{result}}" aria-valuemin="0" aria-valuemax="100" style="width: {{result}}%">
                        <span class="sr-only">{{result}}% Complete (danger)</span>
                    </div>
                </div>
                <h1>Your are narcissus! Do at least one photo of a cat!  {{result}}/100</h1>
                <div class="text-center">
                    <img src="../static/images/narciss.jpg" alt="">
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

